:root {
  --background: rgb(36, 35, 35);
  --main: #e6007e;
}

:root * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Poppins", sans-serif;
}

:root body {
  overflow: hidden;
}

:root .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

:root .container h1 {
  color: #fff;
  font-size: 2.5rem;
}

:root .container .picture {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-image: url(./images/efe-kurnaz-RnCPiXixooY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

:root .container .picture .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  top: 30vh;
  padding: 25px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

:root .container .picture .logo img {
  height: 15vh;
}

:root .container .picture .footer {
  color: white;
  font-size: 0.7rem;
  text-align: center;
  vertical-align: bottom;
  letter-spacing: 1px;
}

:root .container .login-side {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background: var(--background);
  color: #fff;
}

:root .container .login-side .already-user a {
  text-decoration: none;
  color: var(--main);
}

:root .container .login-side .already-user a:hover {
  color: #fff;
}

:root .container .login-side .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 10vh;
  padding: 0 10px 0 20px;
}

:root .container .login-side .content .info {
  font-size: 1.3rem;
  line-height: 2rem;
}

:root .container .login-side .content .login-container {
  margin: 1rem 0;
  width: 80%;
  padding: 10px;
  -webkit-box-shadow: 1px 2px 5px 3px #000101;
          box-shadow: 1px 2px 5px 3px #000101;
}

:root .container .login-side .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

:root .container .login-side .content form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

:root .container .login-side .content form label input {
  border-radius: 5px;
  border: 0;
  padding: 8px;
  margin: 10px 10px 10px 0;
}

:root .container .login-side .content form label input:focus {
  outline: 3px solid var(--main);
}

:root .container .login-side .content form .create-btn {
  padding: 10px 25px;
  border-radius: 8px;
  margin: 20px 0;
  border: 5px solid var(--main);
  font-size: 1.4rem;
  font-weight: 700;
  background: var(--background);
  color: var(--main);
}

:root .container .login-side .content form .create-btn:hover {
  cursor: pointer;
  background: var(--main);
  color: var(--background);
}
/*# sourceMappingURL=styles.css.map */